@model BookInfo.Models.Book

@{
    ViewData["Title"] = "Details";
}

<div class="bg-block">
    <div class="container-fluid row con">
        <div class="col d-grid">
            <img class="img-detail" src="@Model.Cover" />
            <h4>@Html.DisplayFor(model => model.Title)</h4>
            <div>
                <strong> @Html.DisplayNameFor(model => model.AuthorId):</strong>
                @Html.DisplayFor(model => model.Author.FullName)
            </div>
            <div>
                <strong> Жанры:</strong>
                @foreach (var item in ViewBag.Genres)
                {
                    <label>@item.Name &nbsp</label>
                }
            </div>
            <div>
                <strong>@Html.DisplayNameFor(model => model.CreatedDate):</strong>
                @Html.DisplayFor(model => model.CreatedDate)
            </div>
            <div>
                <strong>@Html.DisplayNameFor(model => model.Pages):</strong>
                @Html.DisplayFor(model => model.Pages)
            </div>
        </div>
        <div class="col col-9">
            <h3>
                @Html.DisplayNameFor(model => model.Description)
            </h3>
            <p>@Html.DisplayFor(model => model.Description)</p>
        </div>
        @if (User.IsInRole("admin"))
        {
            <div>
                <a class="btn btn-add" asp-action="Edit" asp-route-id="@Model?.Id">Изменить</a> |
                <a class="btn btn-add" asp-action="Index">Вернуться к спику книг</a>
            </div>
        }
        else
        {
            if (!ViewBag.IsFavorit)
            {
                <div>
                    <a asp-action="AddFavoritBook" class="text-success" asp-controller="Books" asp-route-id="@Model?.Id" asp-route-login="@User.Identity.Name">
                        <span>
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z" />
                                <path fill-rule="evenodd" d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z" />
                            </svg>
                        </span>
                        Добавить в избранное
                    </a>
                </div>
            }
            else
            {
                <div>
                    <a class="text-danger" asp-action="DeleteFavoritBook" asp-controller="Books" asp-route-id="@Model?.Id" asp-route-login="@User.Identity.Name">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                        </svg>
                        Удалить из избранного
                    </a>
                </div>
            }
        }

    </div>
</div>

