@model BookInfo.Models.Book

@{
    ViewData["Title"] = "Details";
}

<div class="bg-block">
    <div class="container-fluid row con">
        <div class="col d-grid">
            <img class="img-detail" src="@Model.Cover" />
            <h4>@Html.DisplayFor(model => model.Title)</h4>
            <div>
                @Html.DisplayNameFor(model => model.IdAuthor):
                @Html.DisplayFor(model => model.IdAuthor)
            </div>
            <div>
                @Html.DisplayNameFor(model => model.CreatedDate):
                @Html.DisplayFor(model => model.CreatedDate)
            </div>
            <div>
                @Html.DisplayNameFor(model => model.Pages):
                @Html.DisplayFor(model => model.Pages)
            </div>
        </div>
        <div class="col col-9">
            <h3>
                @Html.DisplayNameFor(model => model.Description)
            </h3>
            <p>@Html.DisplayFor(model => model.Description)</p>
        </div>

        <div>
            <a asp-action="Edit" asp-route-id="@Model?.Id">Изменить</a> |
            <a asp-action="Index">Вернуться к спику книг</a>
        </div>

    </div>
</div>

