@model BookInfo.Models.Book

@{
    ViewData["Title"] = "Edit";
}

<h1>Изменить данные книги</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedDate" class="control-label"></label>
                <input asp-for="CreatedDate" type="date" class="form-control" />
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
                <script>
                    document.getElementById("CreatedDate").value ="@Model.CreatedDate.ToString("yyyy-MM-dd")";
                </script>
            </div>
            <div class="form-group">
                <label asp-for="Pages" class="control-label"></label>
                <input asp-for="Pages" class="form-control" />
                <span asp-validation-for="Pages" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Genres" class="control-label"></label>
                  @Html.ListBox("Genres", (IEnumerable<SelectListItem>)@ViewBag.genres, new { htmlAttributes = new { @class = "form-control"} })
                <script>
                    document.getElementById("Genres").classList = "form-control";
                    document.getElementById("Genres").selected = @ViewBag.genres;
                </script>
            </div>
            <div class="form-group d-grid">
                @if (Model.Cover != null)
                {
                     <img src="@Model.Cover" />
                     @Html.HiddenFor(model=>model.Cover)
                }
                <label asp-for="Cover" class="control-label"></label>
                <input name="file" id="file" class="form-control" type="file" />
                <span asp-validation-for="Cover" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuthorId" class="control-label"></label>                
                  @Html.DropDownListFor(model => model.AuthorId, (IEnumerable<SelectListItem>)ViewBag.AuthorId, String.Empty, new { htmlAttributes = new { @class = "form-control"} })
                @Html.HiddenFor(model=>model.AuthorId)
                <span asp-validation-for="AuthorId" class="text-danger"></span>
                <script>
                    document.getElementById("AuthorId").classList = "form-control";
                </script>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

