@model IEnumerable<BookInfo.Models.Book>

@{
    ViewData["Title"] = "Index";
}

<div class="d-flex flex-row justify-content-between">
    <h3>Панель администратора</h3>
    <div>
        <a asp-action="Create" class="btn btn-add">Добавить книгу</a>
        <a asp-action="Create" asp-controller="Authors" class="btn btn-add">Добавить автора</a>
        <a asp-action="Create" asp-controller="Genres" class="btn btn-add">Добавить жанры</a>
    </div>
</div>
<div class=" bg-block">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Cover)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Pages)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AuthorId)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <img class=" cover" src="@item.Cover">
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Pages)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Author.FullName)
                    </td>
                    <td>
                        <div class="d-grid">
                            <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a>
                            <a asp-action="Details" asp-route-id="@item.Id">Посмотреть</a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="text-danger">Удалить</a>
                        </div>

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>