@model BookInfo.Models.Book

@{
    ViewData["Title"] = "Details";
}

<div class="bg-block">
    <div class="container-fluid row con">
        <div class="col d-grid">
            <img class="img-detail" src="@Model.Cover" />
            <h4>@Html.DisplayFor(model => model.Title)</h4>
            <div>
               <strong> @Html.DisplayNameFor(model => model.AuthorId):</strong>
                @Html.DisplayFor(model => model.Author.FullName)
            </div>
             <div>
                <strong> Жанры:</strong>
                @foreach (var item in ViewBag.Genres)
                {
                    <label>@item.Name &nbsp</label>
                }                               
            </div>
            <div>
                <strong>@Html.DisplayNameFor(model => model.CreatedDate):</strong>
                @Html.DisplayFor(model => model.CreatedDate)
            </div>
            <div>
                <strong>@Html.DisplayNameFor(model => model.Pages):</strong>
                @Html.DisplayFor(model => model.Pages)
            </div>
        </div>
        <div class="col col-9">
            <h3>
                @Html.DisplayNameFor(model => model.Description)
            </h3>
            <p>@Html.DisplayFor(model => model.Description)</p>
        </div>

        <div>
            <a asp-action="Details" asp-route-id="@Model?.Id">Изменить</a> 
        </div>

    </div>
</div>

