@model IEnumerable<BookInfo.ViewModels.BookView>

@{
    ViewData["Title"] = "Searsh";
}

<h1>Searsh</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cover)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cover)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
             @if (User.IsInRole("admin"))
        {
            <div>
                <a asp-action="Edit" asp-route-id="@item.Id">Изменить</a> |
                <a asp-action="Index">Вернуться к спику книг</a> 
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </div>
        }
        else
        {
            <div>
                <a asp-action="Details" asp-route-id="@item.Id">Добавить в избранное</a>
            </div>
        }
        </tr>
}
    </tbody>
</table>
