@model IEnumerable<BookInfo.ViewModels.BookView>

@{
    ViewData["Title"] = "Результаты поиска";
}

<h1>Результаты поиска</h1>

<div class="row row-cols-sm-2 row-cols-md-3 row-cols-lg-3 row-cols-xl-4">
    @foreach (var item in Model)
    {
        <div class="col mb-4">
            <div class="card" style="width:18rem;height:25rem;">
                <img src="@item.Cover" class="card-img-top" alt="img">
                <div class="card-title-over position-absolute bottom-0 card-body">
                    <a asp-action="Details" asp-controller="Books" asp-route-id="@item.Id">
                        <h3 class="card-title">@item.Title</h3>
                    </a>
                    <strong>Автор: </strong>@item.Author<br>
                    <strong>Жанры: </strong>
                    @foreach (var itemG in item.Genres)
                    {
                        <label>@itemG.Name &nbsp</label>
                    }
                </div>
                @if (User.IsInRole("admin"))
                {
                    <div class="card-footer">
                        <a class="text-success" asp-action="Index">Вернуться к спику книг</a><br>
                        <a class="text-success" asp-action="Edit" asp-route-id="@item.Id">Изменить</a> <br>
                        <a asp-action="Delete" class="text-danger" asp-route-id="@item.Id">Удалить</a>
                    </div>
                }
            </div>
        </div>

    }
</div>           